{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">{% endblock %}
{% block body %}
<body>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">PORTFOLIO</div>
      <div class="list-group list-group-flush">
        <a href="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="/dashboard/projects" class="list-group-item list-group-item-action bg-light">Projects</a>
        <a href="/dashboard/subscriptions" class="list-group-item list-group-item-action bg-light">Subscriptions</a>
        <a href="/dashboard/notify" class="list-group-item list-group-item-action bg-light">Notify</a>
        <a href="/logout" class="list-group-item list-group-item-action bg-light">Logout</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    {% block pagecontent %}
        <!-- error message block -->
        <div class="">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <!-- error message block end -->
      <!-- The rest gets inserted here. -->
    {% endblock %}
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>
{% endblock %}