{% extends "layout.html" %}

{% block title %}Nick's portfolio{% endblock %}

{% block body %}
<body id="page-top" data-spy="scroll" data-target="#navbarResponsive">
    
    <!-- Navigation Start-->
    <nav id="mainNav" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
  
        <a class="navbar-brand" href="#page-top">Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
        </button>
            
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#page-top">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navigation End-->
  
  
    <!-- Landing page Start -->
    <div id="landing">
      <!--<div class="overlay"></div>-->
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1>Nick's Portfolio</h1>
                <span class="subheading"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Landing page End -->
  
  
    <!-- Projects Start -->
    <div id="projects" class="container">
      <h1 class="my-4">Projects
        <!--<small>Extra info</small>-->
      </h1>
    
      <div class="row">
        {% for project in projects %}
        <!-- card -->
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <!-- card header image -->
            <div class="zoom-effect overlay-effect">
              <a href="{{ project.link }}" target="_blank">
                <img class="card-img-top" src="{{ url_for('static', filename = project.thumbnail) }}" alt="Project One">
                <div class="overlay-text">
                  <h4>{{ project.overlay_title }}</h4>
                  <p>{{ project.overlay_text }}</p>
                </div>
              </a>
            </div>
            <!-- card body -->
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
              </h4>
              <p class="card-note">&#8212; Project {{ loop.index }}</p>
              <p class="card-text">{{ project.description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
    <!-- Content (projects) End -->
  
  
    <!-- About Start -->
    <div id="about" class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-5 order-lg-1">
          <div class="p-5 text-center">
            <img class="img-fluid rounded-circle avatar" src="{{ url_for('static', filename = 'img/avatar.png') }}" alt="">
          </div>
        </div>
        <div class="col-lg-6 col-md-7 order-lg-2">
          <div class="p-5">
            <h2 class="display-4">Hi, I'm Nick</h2>
            <p>I graduated as an industrial engineer electronics-ICT from KU Leuven campus De Nayer in Belgium. In my spare time I like to go to the gym, play video games, build little projects or spend time with my parrot pet, DC.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->
  
  
    <!-- Footer Start-->
    <footer class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-5 text-center">
  
          <a href="mailto:nick-todts@hotmail.com" target="_blank">
            <span id="icon-mail" class="fa-stack fa-2x">
              <i id="icon-bg-mail" class="fas fa-square fa-stack-2x"></i>
              <i id="icon-fg-mail" class="far fa-envelope fa-stack-1x"></i>
            </span>
          </a>
          <a href="https://www.linkedin.com/in/nick-todts-486064111/" target="_blank">
            <span id="icon-linkedin" class="fa-stack fa-2x">
              <i id="icon-bg-linkedin" class="fa fa-square fa-stack-2x"></i>
              <i id="icon-fg-linkedin" class="fab fa-linkedin-in fa-stack-1x"></i>
            </span>
          </a>
          <a href="https://github.com/NickT5" target="_blank">
            <span id="icon-github" class="fa-stack fa-2x">
              <i id="icon-bg-github" class="fa fa-square fa-stack-2x"></i>
              <i id="icon-fg-github" class="fab fa-github fa-stack-1x"></i>
            </span>
          </a>
        </div>
        <hr class="line">
        <!--&copy;Nick's portfolio.-->
        Nick's portfolio.
      </div>  
    </footer>
    <!-- Footer End-->
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>          <!-- jQuery library -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>       <!-- Latest compiled JavaScript -->
  <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
  </body>
  

{% endblock %} 